/*
div {
    border: 1px;
    border-color: black;
    border-style: solid;

}
*/

@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Victor Mono', mono-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #aa0404;
}

header {
    background-image: url(otsikko1.jpg);
    background-position: center;
    background-size: cover;
}

.tietoa {
    background-image: url(otsikko2.jpg);
    background-position: center;
    background-size: cover;
}

.historia {
    background-image: url(otsikko_3.jpg);
    background-position: center;
    background-size: cover;

}


header h1 {
    font-size: 60px;
    text-align: center;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    padding: 150px 10px 150px 10px;
    margin: 0px;
}

.historia h1 {
    font-size: 60px;
    text-align: center;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    padding: 150px 10px 150px 10px;
    margin: 0px;
}

section {
    width: 60%;
    margin: auto;
    font-size: 30px;
    color: black;
    padding: 30px
}

section img {
    width: 95%;
    padding: 30px 0px 15px 0px;
    margin-top: 30px;


}

@media only screen and (max-width: 500px) {
    li {
        float: center;
    }

    section {
        font-size: 20px;
        width: auto;
    }

    header h1 {

        font-size: 40px;


    }
}




@media only screen and (min-width: 650px) {
    li {
        float: left;
    }

    section {}

    header h1 {

        padding: 200px 10px 200px 10px;


    }
}


@media only screen and (min-width: 1025px) {
    section {
        width: 65%;
    }

    header h1 {
        font-size: 70px;


    }
}